body{
    margin: 50px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 20px;
}

h1 {
    color:purple;
    background: yellow;
    text-align: center;
    font-family: "Roboto Condensed"; /* Opciones de tipo de letra */
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.img-main{
    display: grid;
}

img {
    margin:auto;
    width: 200px;
    border-color: #000000;
    border-width: 3px;
    border-style: double;
    border-radius: 50%;
    

}

p{
    color:darkgreen;
    font-size: 18px;

}